.app{
    color: darkcyan;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: bold;

}
.nav-center{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: wheat;
}
.navbar{

margin-bottom: 20px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    padding: 20px 0;
    border-radius: 30px;

}


.nav-links{
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;



}
.logo{
    display: flex;
    width: 35px;
    height: 35px;
    position: relative;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}
.nav-links li{
    list-style: none;

}

.nav-links li .link{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: bold;

}

.nav-links li:hover,
.nav-links li .active{
    color:darkcyan;
    text-decoration: underline;
}
.counter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;


}
.btns{
    display: flex;
    justify-content: center;
    gap: 15px;
}
.btns button.active,
.btns button:hover,.posts-list li button:hover
{
    background: darkcyan;
    color: white;
}
.counter button{
    background: none;
    border: darkcyan solid 2px;
    border-radius: 30px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    align-items: center;

}

.posts-list{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}
.posts-list ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.posts-list li{
    list-style: none;
    border: 1px solid darkcyan;
    padding: 20px;
    border-radius: 30px;
    align-items: center;

}

.posts-list li button{
    background: none;
    border: darkcyan solid 2px;
    border-radius: 30px;
    padding: 8px 20px;
    cursor: pointer;
    font-size: 14px;
}
.posts-list li p{
    color: dimgrey;
    font-size: 16px;
}


.user-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 18px;
    margin-top: 20px;
    border: 1px solid darkcyan;
    padding: 20px;
    border-radius: 30px;
}

.form-control{
    display: flex;
    flex-direction: column;
}
.user-form label{
    font-weight: bold;
    margin-bottom: 5px;

}
.user-form input{
    border: 1px solid darkcyan;
    border-radius: 30px;
    padding: 10px;

}
.user-form input[ type="checkbox"]{
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid darkcyan;
}


.user-form-header{
    font-size: 24px;
    font-weight: bold;
}

button[type="submit"] {
    width: 20%;
    padding: 8px 24px;
    background: darkcyan;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 14px;
}
